@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*font-family: 'Dela Gothic One', cursive;*/
/*font-family: 'New Tegomin', serif;*/

html{
  box-sizing: border-box;
  font-size: 62.5%;
  
}
*, body{

  font-size: 1.5rem;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
body{
  min-width: fit-content;
}
.website_color{
  background-color: #060b26;
  color:white;
}

.edu_flex{
  display: flex;
  flex-direction: row;
}

.lang_select{
  font-family: 'New Tegomin', serif;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 8px;
  background-color: #060b30;

}

.edu_body_child{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: space-between;
}
.surrounding_body{
  background-color: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;
}

main{
  flex: 3;
}
header{
  position: relative;
  z-index: 1;
}
.bold_font{
  font-weight: bold;
}

button{
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
.linkBlue{
  color:#060b26;
}
.font_Cabin{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
.centralizeNavLink{
  display: inline-block;
  margin:auto;
}
.linkHoverFloral:hover{
  color: #c83737;
}
.linkHoverFloralBack:hover .menu-span{
  background-color: #c83737;
}
.pointerCursor{
  cursor: context-menu;
}



/*colors*/
.success_color{
  background-color: #4BB543 ;
  color: white;
}
.danger_color{
  background-color: #d80d0d;
  color: white;
}
.edu_message_separator{
  margin-bottom: 20px
}
.errorMessage{
  font-size: 13px;
  color:#d80d0d;
  font-weight: bold;

}
.nav_bar {
  display: flex;
  flex-direction: column;
  background-color: #4BB543;
   background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;

}

.nav_first_row{
  display: flex;
}

.bx-menu{
  font-size: 40px;
  color: white;
  cursor: pointer;
  
}

.toggle_icon{
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.edu_icon {
 /* background-color: green; */
  height: 40px;
  max-width: 150px;
  margin-left: 4px;
  background-repeat: no-repeat;
 
  
}
.navBarFirst{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 4;
}
.edu_account_box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  color: white;
}
.users_nav{
  color: #060b26;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.bx-message, .bx-bell,  .bx-cart-alt,  .bx-user-circle{
  font-size: 35px;
  color: #060b26;
  position: relative;
  top: 4px;
  margin-left: 5px;



}

.bx-info-square, .bx-log-out{
  font-size: 18px;

}
.users_nav a{
  font-size: 15px;
  font-family: 'Dela Gothic One', cursive;
 
}
.edu_user_name{
  margin-right: 20px;
  display: flex;
  font-weight: bold;
  align-self: flex-end;
  position: relative;
  z-index: 0;
}
.dropdown_box {
  position: relative;

}

.dropdown_content{
  flex-direction: column;
  z-index: 2;
  position: absolute;
  left: -100px;
  width: 150px;
  background-color: white;
  display: none;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}
.dropdown_content>a{
  color: black;

}
.edu_link_account{
  width: 100%;
}



.dropdown_content a{
  padding: 10px;
  font-family: 'New Tegomin', serif;

}
.dropdown_box:hover .dropdown_content{
display:flex;
}

.sign_in_up{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

}
.sign_in_up a, .users_nav i{
  margin-right: 10px;
}
.users_logo{
  font-size: 35px;
}
.sign_in_up a{
  font-size: 15px;
  font-family: 'Dela Gothic One', cursive;
 
}
.bx-right-arrow-alt{
  font-size: 15px;
  margin-left: 15px;
  visibility: hidden;
  
}
/*svgs */
.shrinkTutor{
  transform: scale(0.2);
}
.growTutor{
  transform: scale(2);
}
/*greeting */
.greeting{
  display: flex;
  justify-content: flex-end;
  font-family: 'Zilla Slab Highlight', cursive; 
  padding-top: 10px;
}



/*search bar*/
.search_option1{
  display: none;
}


.search_option2{
  font-family: 'Akaya Kanadaka', cursive;

}
.bx-search{
  font-size: 29px;
  position: relative;
  top: 4px;


}
.search_results{
  color: black
}
.search_results:hover{
background-color:#f0f0f0;
}
.span_block{
  background-color: darkgray;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  margin-bottom: 3px;
  border-radius: 5px;
  margin-right: 8px;
}
.edu_search_spinner{
  font-family: 'New Tegomin', serif;
  padding: 40px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;

}
.edu_search_input{
  padding-left: 30px;
  height: 50px;
  width: 100%;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 14px;
}

.side_side p{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 18px;
}

.edu_search_input>input{
 width: 70%;
 padding-left: 10px;
 height: inherit;
 border: none;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 border: 1px solid #dbdbdb;
 outline: none;
 
}

.edu_search_input>button{
  height: 100%;
  top: 6px;
  right: 3px;
  width: 20%;
  color: #ffffff;
  background-color: #060b26;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  font-family: 'New Tegomin', serif;
  position: relative;
 
}
.search_box{
  width: 99%;
  padding-top: 20px;
}

.search_select{
  width: 100%;
  padding-bottom: 30px;
  height: 100px;
  border: none;
  font-size: 11px;
  font-family: 'Akaya Kanadaka', cursive;

}

.search_select>select{
  width: 40%;
  height: 40px;
  margin-right: 20px;
}
.search_container{
  background-color: white;
  width:99%;
  margin: auto;
  border-radius: 8px;
  margin-top: 0px;
}


.edu_slider{
  width: 95%;
  font-family: 'Akaya Kanadaka', cursive;  

}
.slider_position{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 150px;

}
.slider_position div{
  position: absolute;
  top: 0px;
  right: -30%;
}
.edu_icon_size{
  font-size: 25px;
}
.edu_pagination{
  padding-left: 25px;
  padding-bottom: 25px;
}

/* table */
.table_surrounding{
padding: 30px;
background-color: #dbdbdb;
height: 110%;
}

.vet_table_surrounding{
  background-color: #dbdbdb;
  height: 110%;
  }

  .vet_red{
    background-color: #d80d0d;
    padding: 4px;
    border-radius: 4px;
    color: white;
  }
  .vet_green{
    background-color: #4BB543;
    padding: 4px;
    border-radius: 4px;


  }

/*
.search_box>input:active .search_box input{
  width: 800px;

} */

/* search profile */

.search_display_pic{
  width: 150px;
  height: 150px;
}
.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;

}
.tutor_name{
  font-size: 20px;
  font-family: 'New Tegomin', serif;
  color: #060b26;
  font-weight: bold;
}
.profile_info .space{
  margin-left: 10px;
}
.search_inputs{
  background-color: #f5f5f5;


}
.key_details{
  display: flex;
  flex-direction: column;
}
.edu_flex .language{
  margin-left: 5px;
}
.edu_flex .subjects{
  margin-left: 20px;
}
.bxs-star{
  color: goldenrod
}
.search_results, .spacing_left{
  margin-top: 7px;
  padding: 0px 30px 0px 30px;
}

.search_results:hover{
}
.edu_search_about{
  margin-top: 10px;
  height:70px;
  overflow: hidden;
}








/*-------------main body -----------*/
.home_main_container{
  width: 100%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* radomn image container
.random_image{
margin-top: 20px;
padding-bottom: 20px;
height: 100px;
width: 100%;
object-fit: fill;
}*/

/*tutor numbers container*/
.services{
  
  display: flex;
  flex-direction: column;
}
.svgbehind{
  position: absolute;
  top:150px;
  left: 20%;


}
.services_body{
  font-size: 20px;
  background-color: #060b26;
  color: white;
  padding: 25px;
  font-family: 'Akaya Kanadaka', cursive;  
  margin: 20px;
  border-radius: 3px;
}
.services_button{
  display: flex;
  justify-content: flex-start;
 

}
.divButton{
background-color:violet;
}
.slideReveal2{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 0;
}
.slideWriting2{
  font-size: 18px;
  color: white;
  opacity: 1;
  align-self: flex-end;
  font-family: 'Akaya Kanadaka', cursive;
  z-index: 20;
  padding: 10px;

position: relative;
  margin-left: 10px;

}

.slideWriting2>p{
  font-size: 14px;
}
.divButton{
color: black;
}
.services_engine{
  padding-left: 10px;
  padding-bottom: 20px;
  background-color: #c83737;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2px;
  padding-top: 10px;
}
.movingBall{
  background-color: #ffffff;
  position: relative;
  z-index: 3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.path{
  padding-left: 20px;
}
.divButton, .message_button{
  color: black;
  margin-right: 20px;
  padding: 1px 15px 4px 15px;
  background-color: white;
  border-radius: 5px;
  font-weight: bolder;
  border: 3px solid #060b26;
  font-family: 'New Tegomin', serif;
  font-size: 11px;
  cursor: pointer;
  
}
.message_button{
  margin-top: 20px;
}

.change_color{
  background-color: #060b26;
  color: white;
}

.services_header{
  margin-top: 5px;
  font-size: 90px;
  line-height: normal;
  color: black;
  font-family: 'Concert One', cursive;
        padding-left: 20px;
  position: relative;
  z-index: 2;
}

.services{
  margin-top: 20px;
}
.services_row1{
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}
.learning_image{
  width: 90%;
  align-self: center;
  position: relative;
  z-index: -1;


  
}
.learning_image>div{
  margin-top: 15px;
  position: relative;
  z-index: 0;
  margin-left: 20px;

}
.learning_image img{
  width: 100%;
  align-self: center;
}
.tutors_numbers , .tutors_numbers strong{
font-size: 60px;
color: black;
font-weight: bolder;
font-family: 'Zilla Slab Highlight', cursive;
}
.tutors_numbers strong{
  font-size: 25px;
}
.tutors_numbers{
  padding-top: 20px;
  text-align: center;
  color: #c83737;
}

/*service cards*/
.item1{
  grid-area: item1;
}
.item2{
  grid-area: item2;
}
.item3{
  grid-area: item3;
}

.edu_cards{
  font-weight: bold;
  display: grid;
  grid-template-areas: 'item1'
                       'item2'
                       'item3' ;
  
  justify-content: center;
  padding-bottom: 40px;
  align-self: center;
  position: relative;

}
.edu_card{
  border-radius: 4px;
  margin-top: 40px;
  background-color: #060b26;
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
  color: white;
  
}
.edu_card_content{
  font-size: 20px;
  font-family: 'Akaya Kanadaka', cursive;
}
.edu_card_image{
}
.edu_card_image>img{
height: 80px;
width: 80px;
}

/*verify page*/
.edu_verify_button{
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 17px;
  border-radius: 4px;
}
.edu_verify_button>i{
  font-size: 25px;
}
.edu_verify_icon{
  font-size: 25px;
}

/*edit profile container */

.edit_dp_bottom{
  margin-bottom: 20px;
}

.edit_image_container{
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
}

.profile_cart_button{
  width: 115px;
  padding: 3px;
  border-radius: 5px;
  font-family: 'New Tegomin', serif;

}

.profile_cart_container{
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 10px;
  position: relative;
}
.nawa{
  position: relative;
  height: 100%;
  padding-left: 8px;

}

.hours_position{
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 20%;
  
}

.profile_cart_container>input{
  width: 60px;
  height: 40px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
text-align: center;
font-weight: bold;
}
.flex_edit_profile>input, .flex_edit_profile>select{
  border-radius: 5px;
  height: 40px;
  width: 80%;
  padding-left: 10px;
  border: 1px solid #dbdbdb;
  }
  .cant_change{
    background-color: #e8e8e8;
  }
  .empty_contact{
    text-align: center;
    padding-top: 60px;
  }

  .flex_edit_profile>textarea{
    height: 100px;
    width: 80%;
    padding-left: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    }

    .edu_underline{
      border-bottom: solid 1px #060b26;
      margin-bottom: 20px;
    }
    .header_top{
      padding-top: 20px;
    }
  




/*footer*/

footer{
  background-color: #f5f5f5;
  padding-top:20px;
  color: #060b26;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;



}
.footer_section>p{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 14px ;
}
.footer_margin_left>div{
  display: inline-block;
  margin-left: 10px;
}

.footer_section{

  font-size: 40px;
}

.footer_section i{
  font-size: 30px;
 color: #060b30;
}
footer hr{
  width: 90%;
  margin: auto;
}


/*SignIN and Register Page */
.addMore{
  cursor: pointer;
  color: blue;
  padding-bottom: 15px;
  display: inline-block;
  font-weight: bold;
  

}
.removeMore{
  cursor: pointer;
  color: #d80d0d;
  padding-bottom: 15px;
  font-weight: bold;

}
.sign_container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
 
}
.register_select{
}
.register_select>select{
  height: 55px;
  border: none;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  width: 100%;
}
.adjust_signin{
  width: 100%;
  padding: 10px;
  font-size: 20px;

}
.edu_form>input{
  border-radius: 5px;
  height: 55px;
  width: 100%;
  padding-left: 10px;
  border: 1px solid #dbdbdb;
  }
.welcome{
  font-family: 'Zilla Slab Highlight', cursive; 
  font-size: 40px;
  margin: auto;
}
.sign_form{
 
  width: 95%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #dbdbdb;
  border-radius: 7px;
  padding: 30px 60px 30px 40px;
  box-shadow: 0 0 4px 4px #8a8989;
}
.edu_shadow{
  box-shadow: 0 0 4px 4px #adadad;
  border-radius: 5px;

}
.flex_or{
  display: flex;
  color:#060b26;
  font-weight: bold;
  margin-top: 20px;
}
.reduce_line{
  width: 45%;
  position: relative;
  top: 10px;
}
.field_margin{
  margin-bottom: 20px;
}
.edu_form_header{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'New Tegomin', serif;
    padding-bottom: 20px;
}
.forgotten_password{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  font-family: 'New Tegomin', serif;
  color:#060b26;

}
.upload_container{
  position: relative;
  border: 3px solid #060b26;
  background-color: white;
  color:#060b26;
  opacity: 1;
  display: flex;
  border-radius: 5px;
  width: 80%;
  color: #060606;
  margin-top: 20px;
  padding: 5px;
}
.side_side{
  display: flex;
 
}

.check_position{
  position: relative;
  top: 2px;
  
}
input[type="file"]{
  position: absolute;
  width: 100%;
  opacity: 0;
}
.bx-camera{
  font-size: 30px;
}
.preview_container{
  
}
.preview_active{
  color:#4BB543;
  font-size: 30px;
}
.previews_hidden{
  display: none;
}

/* }
.button_container{
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.button_container div{
  font-size: 12px;
  color: #c83737;
  padding-top: 7px;
}
.submit{
  background-color:white;
  border: 3px solid #c83737;
  width: 100%;
  border-radius: 5px;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
  padding: 5px;
}


.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
} */

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
 
}

.small {
  font-size: 0.5em;
}

/*contact screen*/
.edu_contact_screen{
padding-left: 30px;
}
.edu_contact_header{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #c83737;
}
.edu_contact_name{
  font-weight: bold;
  font-size: 18px;
}
.edu_name_message{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.edu_contact_dp{
width: 50px;
}
.edu_contacts{
  display: flex;
  flex-direction: row;
}
.edu_contact_image{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* message design*/
.chat_body{
  width: 100%;
}
.edu_chat_time_flex{
 position: relative;
 height: 12px;
}
.edu_chat_time{
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  
}
.edu_chat_time_sender{
  right: 0px;
}
.edu_message_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}
.edu_message_container{
  padding-left: 30px;
  padding-right: 30px;
 
}
.edu_message_scroll{
  overflow-y: scroll;
  height: 300px;

}
.edu_message_bubble{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}
.edu_name_time{
  justify-self: flex-end;
}

.edu_message_left{
  
  background-color: #e8e8e8;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  color: black;
  margin: 0;
}
.edu_message_right{
  width: 150px;
  justify-self: flex-end;
  background-color: #c83737;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  margin: 0;
}
.edu_message_time{
  margin: 0;
  font-size: 10px;
  width: 150px;
  color: black;
}

  /* profile page */
.profile_container{
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-weight: bold;
}
.entire_container{
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  font-weight: bold;
}

.image_rating_container{
  flex: 1;
  padding-left: 20px;
}
.rating_container{
}
.rating_container>p{
  margin-bottom: 0px;

}
.image_container{
  
 
}
.about_container{
  flex: 5;
 
  padding-right: 40px;
  padding-left: 20px;
}

.title_2{
font-size: 16px;
color: #060b26;
}
.font_25{
  font-size: 18px;
  font-weight: bold;
  }
.title_1{
  font-size: 25px;
  color: #060b26;
  font-family: 'Dela Gothic One', cursive;
}
.title_3{
  font-size: 17px;
  color: #060b26;
  font-family: 'Dela Gothic One', cursive;
}

.image_container .profile_dp{
  width: 200px;
  height: 200px;
  border: solid 1px gray;
  box-shadow: 0 0 4px 4px #adadad;

}
.top_talents{
  font-size: 20px;
  padding: 25px;
  font-weight: bold;
  font-family: 'New Tegomin', serif;

}
.review_container{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  font-weight: bold;
}
.reviewContainer{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  width: 96%;
  margin:auto;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.edu_profile_review{
  padding-left: 25px;
}
.edu_review_content{
  padding-left: 15px;
}
.reviewer{
  padding-left: 20px;
  
}
.no_reviews{
  font-family: 'New Tegomin', serif;
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
.reviewer>.text{
  font-family: 'New Tegomin', serif;
  font-size: 18px;
}
.rating_style{
  font-family: 'Akaya Kanadaka', cursive;  

}


/* reveiw */
.edu_review>textarea{
  height: 100px;
  width: 100%;
  padding-left: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  }
  .ratingSize{
    font-size: 30px;
    font-weight: bold;
  }

  /*cart */
  
  .cart_container{
    display: flex;
    flex-direction: column;
    width: 90%;
  margin: auto;
  background-color: #fbfbfb;
  font-weight: bold;
  border-radius: 10px;
 }
 .loop_container{
   padding-bottom: 20px;
   padding-left: 20px;
   }
.items_container{
  display: flex;
  flex-direction: column;
}
  .cart_info{
    display: flex;
    flex-direction: row;
    padding-top: 20px;

  
  }
  .cart_info>img{
    height: 100px;
    width: 100px;
  }
  .cart_information{
    padding-left: 30px;
  }
  .cart_qty_cost input{
    text-align: center;
    width: 30px;
    top: -2px;
    border-radius: 5px;
    position: relative;
    border: none;
    border: 1px solid #dbdbdb;
    font-family: sans-serif;


  }
  .total_cost_tab{
    background-color: #060b26;
    color: white;
    padding: 20px;
    height: 360px;
    display: flex;
flex-direction: column;
  }

    .total_cost_tab p{
      font-family: 'Teko', sans-serif;

    }
  .summary_spacing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .summary_spacing p{
    font-size: 20px;

  }
  .checkout_summary{
    font-size: 30px;
  }
  .total_item_charge{
    font-family: 'Teko', sans-serif;
    
  }
  .remove_move{
  color: black;
  padding: 0px 6px 4px 6px;
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bolder;
  border: 3px solid #060b26;
  font-family: 'New Tegomin', serif;
  }

.cart_qty_cost{
  display: inline-block;
  font-family: 'Teko', sans-serif;
  font-size: 15px;
  padding-top: 20px;
  position: relative;
  left: 130px;
  width: 150px;

}
.cart_qty_cost div{
  font-family: 'Teko', sans-serif;
  
}
.refresh_cart{
  padding: 0 6px 0 6px;
  background-color: white;
  border-radius: 5px;
  font-weight: bolder;
  border: 3px solid #060b26;
  font-family: 'New Tegomin', serif;
  margin-left: 6px;
}
.edu_checkout{
  width: 100%;
  padding: 6px;
  background-color: goldenrod ;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
  border-radius: 5px;

}

/* fast pages */
.checkEmail_welcome{
  background-color: #060b26;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.checkEmail_welcome_text{
color: white;
}



@media only screen and (min-width: 500px) {


   
   .edu_search_input>button{
     width: 15%;
     top: 2px;
    
   }

   

  .image_container .profile_dp{
    width: 300px;
    height: 300px;
  }

  .chat_body{
    width: 70%;
  }
  .edu_search_input{
    font-size: 12px;
    margin-bottom: 25px ;
  }
  .search_option2{
    display: none;
  }
  .search_option1{
    display: inline-block;

  }
  .search_option1>div{
    font-family: 'Akaya Kanadaka', cursive;
  }
  .image_container{
  }
  .rating_container{
    padding-top: 20px;
  }
  .rating_container>p{
    margin-bottom: 20px;
  }   

 

}

 





/*media query screen */

@media only screen and (min-width: 400px) {
.svgbehind{
top: 100px
}
  .search_select{
font-size: 14px;  
  }
 .edu_search_input>button{
   width: 15%;
  
 }
 .edu_slider{
  width: 85%;
}
.slideWriting2{
  font-size: 22px;
 

}
.slideWriting2>p{
  font-size: 18px;
}


}


@media only screen and (min-width: 600px) {
  .svgbehind{
    top: 200px;
    left: 40%;
    transform: scaleX(2)
  }
  .cart_qty_cost{
    left: 0;
       position: initial;
      
     }
     .path{
      padding-left: 50px;
       }

     .slideWriting2{
      font-size: 40px;
      }
    
    
    .slideWriting2>p{
      font-size: 25px;
    }
  .edu_user_name{
    margin-right: 35px;
  }
  .slideWriting2{
    font-size: 25px;
   
  
  }
  .slideWriting2>p{
    font-size: 20px;
  }

  .chat_body{
    width: 50%;
  }
  .cart_information{
    width: 250px;
  }

   .edu_search_input>button{
     width: 20%;
     top: 2px;
    
   }
  
  .items_container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
  }
  .loop_container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .cart_info{ 
    flex-grow: 2;
  }
  .cart_qty_cost{
    flex-grow: 2;
  }
  .total_cost_tab{
    flex-grow: 1;
  }
  .divButton{
    padding: 2px;
    padding-left: 9px;
    width: 120px;
    font-size: 15px;
  }
  


  .tutors_grid{
      grid-template-columns: 50% 50%;
  }

  .search_container{
    width: 70%;
    
  }
  .sign_form{
    width: 55%
  }
  /* .key_details{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-grow: 8;
  } */

  /* .sign_container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
  } */


}

/*---------------850 PX- for navbar------------*/

@media only screen and (max-width: 850px) {
  
  .sign_in_up{
      position: absolute;
      flex-direction: column;
      top: 75px;
      width: 100%;
      align-items: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: height 0.1s;
      height: 0px;
      visibility: hidden;
      z-index:0;
  }
  .sign_in_up a{
      margin-left: 25px;
      padding-top: 10px;
      padding-bottom: 5px;
     
  }
  .bx-right-arrow-alt{
  visibility: visible;
  }

  .displayMenu{
      visibility: visible;
      height: 110px;
      z-index:  0;
      
  }
  i.bx-menu{
      display:block;
  }
  i.bx-right-arrow-alt{
      display: inline-block;
  }
  .dropdown_content{
    top: 50%;
    right: 6%;
  }
  
}

@media only screen and (max-width: 600px) {
  .edu_verify_button>span{
    display: none;
  
  }
  


  .lang_select{
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    padding-left: 8px;
    background-color: #060b30;
    height: 30px;
    font-size: 15px;

  
  }
  .edu_icon{
      width: 120px;
      height: 30px;
  }
  i.bx-menu{
      font-size: 25px;
  }
  
  .users_nav i{
      font-size: 25px;
      margin-right: 0px;
  }
  .sign_in_up{
      top: 53px;
  }
  .services_header{
    font-size: 50px;
  }

}

@media only screen and (min-width: 700px) {
.profile_info{
  align-items: center;
  flex-direction: row;
 }
 .edu_cards{
  grid-template-areas: 'item1 item2 item3' ;
 
  }
  .edu_card{
    width: 250px;
    margin-left: 20px;
    height: 200px;
  }
   }
/*---------------950 PX-------------*/
@media only screen and (min-width: 850px) {
  .cart_qty_cost{
 left: 0;
    position: initial;
   
  }

  .cart_container{
    display: flex;
    flex-direction: row;
  }
  .edu_search_input>input{
    width: 70%;

   }
   .edu_slider{
    width: 400px;
  }
  .cart_information{
    width: 250px;
  }
   .edu_search_input>button{
     height: 99%;
     top: 1px;
   
     width: 100px;
    
   }
   .search_box{
     width: 500px
   }

  .profile_container{
    display: flex;
    flex-direction: row;
  }
  .search_select{
    width: 500px;
  
  }
  .chat_body{
    width: 40%;
  }

  .edu_card{
    font-size: 40px;
    width: 350px;
    padding: 30px;
  }
  .sign_in_up{
      position: absolute;
      right: 140px;
      top: 52px;        
  }
  .sign_in_up a{
      margin-left: 15px;
  }
  
}


@media only screen and (min-width: 950px) {
  .tutors_grid{
      grid-template-columns: 33% 33% 33% ;
      
  }
 
.services_row1{
}
.services_body{
  font-size: 30px;
}

.services_header{
  font-size: 120px;

}
  .chat_body{
    width: 35%;
  }

}



@media only screen and (min-width: 1200px) {
  .cart_information{
    width: 450px;
  }
.profile_container{
}
.learning_image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin:auto;
}
.learning_image>div{
  width: 550px;
  
}
.learning_image img{
  width:100%;
  height: 340px;
  margin-right: 20px;


}
.entire_container{
  width: 70%;
}
.review_container{
}
  .sign_form{
    width: 35%;
  }
 
  .tutors_grid{
      grid-template-columns: 25% 25% 25% 25% ;
      
  }
  .services_header{
    width: 1400px;
  }

}




/* profile edit page*/
.upload_change_width{
  width: 150px;
}
.center{
  left: 30%;
}
.edit_profile{
  margin-top: 20px;
  width:100%;
  background-color: #c83737;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;

}
.edit_container{
  width: 90%;
  margin: auto;
}
.input_container{
  padding: 10px 20px 10px 20px;
  border: solid 1px #c83737;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.input_container div{
  margin-top: 20px;
}
label{
  color: #060b26;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field_param{
  width: 98.5%;
  border-radius: 0px;
  border: solid 1px;
  height: 30px;
}
.centralize{
  display: flex;
  justify-content: center;
}
textarea.field_param{
  height: 120px;
}

.flex_edit_profile{
  flex: 3;
}
